* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: #333333;
    background-color: #EAEAEA;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding: 3.2rem 0;
    max-width: 80rem;
    margin: 0 auto;
}